@import url("https://fonts.googleapis.com/css?family=Sen&display=swap");

body {
	margin: 0;
	overflow: hidden;
	background: #FFF;
}

.st0 { fill: #DE0040; }
.st1 { fill: #1B2F47; }
.st2 { clip-path:url(#SVGID_2_); }

.love-card svg {
	position: absolute;
	width: 70%;
	right: 0;
	opacity: 0.2;
}

.love-card p {
	font-size: 20px;
	color: #8A8A8A;
	font-weight: 600;
	line-height: 1.7;
}

span {
	transition: all cubic-bezier(0.55, 0, 0.1, 1) 0.4s;
	position: relative;
	top: 0;
}

.love-card .content {
	position: absolute;
	top: 50%; left: 50%; max-width: 600px;
	font-family: 'Lexend Deca', sans-serif;
	font-size: 20px;
	color: black;
	z-index: 9999;
	transform: translate(-50%, -50%);
}

.love-card .content h1 {
	font-family: 'Poppins', sans-serif;
	color: #DE0040;
}

.love-card .content .author {
	font-family: 'Mrs Saint Delafield', cursive;
	font-size: 60px;
}

.lover {
	font-family: 'Poppins', sans-serif;
	font-size: 35px;
}

.heart {
	transition: all 0.3s;
	color: #EA4646;
}

@media(max-width:786px) {
	.love-card svg { top: 0; width: 100%; }
}

.menu {
	position: absolute;
	width: 100%;
	display: flex;
	top: 0; left: 0;
	margin: 0;
	justify-content: flex-end;
	font-family: 'Sen';
}

.dropdown {
	height: 50px; width: 90px;
	top: 0; left: 0;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #FFF;
	background: #34495E;
	position: absolute;
	font-size: 18px;
	perspective: 1000px;
	z-index: 1;
}

.dropdown:hover {
	background: #2980B9;
	cursor: pointer;
}

.dropdown:hover .dropdown_menu a {
	display: block;
}

.dropdown_menu {
	position: absolute;
	top: 100%; right: 0;
	width: 100%;
	perspective: 1000px;
	z-index: -1;
}

.dropdown_menu a {
	display: none;
	text-decoration: none;
	color: #FFF;
	background-color: #34495E;
	padding: 10px 20px;
	font-size: 16px;
	opacity: 0;
}

.dropdown_menu a:hover {
	background-color: #2980B9;
}

.dropdown_menu .dropdown_item-1 {
	transform-origin: top center;
	animation: translateX 300ms 60ms ease-in-out forwards;
}

.dropdown_menu .dropdown_item-2 {
	transform-origin: top center;
	animation: translateX 300ms 120ms ease-in-out forwards;
}

.dropdown_menu .dropdown_item-3 {
	transform-origin: top center;
	animation: translateX 300ms 180ms ease-in-out forwards;
}

@-moz-keyframes translateX {
	0%   { opacity: 0; transform: translateX(60px); }
	80%  {             transform: translateX(-5px); }
	100% { opacity: 1; transform: translateX( 0px); }
}

@-webkit-keyframes translateX {
	0%   { opacity: 0; transform: translateX(60px); }
	80%  {             transform: translateX(-5px); }
	100% { opacity: 1; transform: translateX( 0px); }
}

@-o-keyframes translateX {
	0%   { opacity: 0; transform: translateX(60px); }
	80%  {             transform: translateX(-5px); }
	100% { opacity: 1; transform: translateX( 0px); }
}

@keyframes translateX {
	0%   { opacity: 0; transform: translateX(60px); }
	80%  {             transform: translateX(-5px); }
	100% { opacity: 1; transform: translateX( 0px); }
}