@import url("https://fonts.googleapis.com/css?family=Sen&display=swap");

:after, :before { content: ""; }

html { background-color: #FFFF99; }

.stage {
	height: 300px; width: 346px;
	margin: 0 auto;
	padding: 6em 4em 2em;
	position: relative;
}

.text {
	text-align: center;
	font-family: "Itim", cursive;
	font-size: 2.5em;
	margin-bottom: 3em;
}

.couple {
	height: 300px;
	position: relative;
}

.couple *, .couple *:after, .couple *:before {
	position: absolute;
}

.couple:after {
	height: 40px; width: 100%;
	left: 10px;
	bottom: 0;
	background: DarkGrey;
	opacity:.25;
	position: absolute;
	border-radius: 100%;
	z-index: -1;
}

.heart {
	height: 20px; width: 20px;
	left: 50%;
	background-color: PaleVioletRed;
	transform: rotate(-45deg);
}

.heart:before, .heart:after {
	height: 20px; width: 20px;
	top: -10px;
	background-color: PaleVioletRed;
	border-radius: 50%;
}

.heart:before {
	top: auto;
	right: -10px; bottom: 0;
}

.floating {
	animation-name: floating;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}

@keyframes floating {
	from {
		transform: translate(0, 0px) rotate(-45deg);
	}
	65% {
		transform: translate(0, 15px) rotate(-45deg);
	}
	to {
		transform: translate(0, -0px) rotate(-45deg);
	}
}

.bear {
	height: 300px; width: 200px;
}

.he *, .he *:after, .he *:before {
	background: DarkGrey;
}

.she {
	left: 160px;
	transform: scaleX(-1) scale(0.85, 0.95);
}

.she *, .she *:after, .she *:before {
	background: Turquoise;
	border-color: Turquoise;
}

.ear--1, .ear--2 {
	height: 35px; width: 25px;
	top: 1px; left: 34px;
	border-radius: 100%;
	transform: skewY(20deg);
}

.ear--1:after, .ear--2:after {
	content: "";
	height: 8px; width: 8px;
	top: 8px; left: 9px;
	background: #FFFFFF;
	border-radius: 100%;
}

.ear--2 {
	left: 115px;
	transform: skewY(-15deg);
}

.body {
	height: 220px; width: 100px;
	top: 20px; left: 40px;
	transform: skewY(-2deg);
}

.body:after {
	height: 110px; width: 70px;
	top: 85px;
	right: 5px;
	background: rgba(255, 255, 255, 0.8);
	border-radius: 100%;
}

.muzzle {
	height: 70px; width: 70px;
	top: 30px; left: 90px;
	border-radius: 10px;
	transform: rotate(55deg);
}

.muzzle:before, .muzzle:after {
	height: 60px; width: 20px;
	top: -15px;
	right: 0;
	border-radius: 100%;
	transform: rotate(5deg);
}

.muzzle:before {
	top: -24px;
	right: 19px;
	transform: rotate(45deg);
}

.eye--1, .eye--2 {
	height: 10px; width: 10px;
	top: 35px; left: 117px;
	background: #333333;
	border-radius: 50%;
}

.eye--2 {
	top: 38px; left: 80px;
}

.she .eye--2 {
	top: 42px; left: 80px;
}

.nose {
	height: 20px; width: 25px;
	top: 50px; left: 150px;
	background: #333333;
	border-radius: 100%;
}

.mouth {
	height: 20px; width: 25px;
	top: 67px; left: 120px;
	background: none;
	border-radius: 100%;
	border-bottom: #333 4px solid;
	transform: rotate(45deg);
}

.leg--1, .leg--2 {
	height: 60px; width: 20px;
	top: 220px; left: 40px;
	border-radius: 10px;
}

.leg--2 {
	left: 120px;
}

.leg--1:after, .leg--2:after {
	height: 60px; width: 20px;
	left: 5px;
	border-radius: 10px;
	transform: rotate(10deg);
}

.leg--2:after {
	left: -5px;
	transform: rotate(-10deg);
}

.arm--1 {
	height: 70px; width: 130px;
	top: 110px; left: -25px;
	background: none;
	border: solid 20px #000;
	border-radius: 50%/100% 100% 0 0;
	border-color: DarkGrey transparent transparent transparent;
	transform: rotate(-45deg);
}

.she .arm--1 {
	border: solid 20px #000;
	border-color: Turquoise transparent transparent transparent;
}

.she .arm--1:after {
	background: Turquoise;
}

.arm--1:after {
	height: 20px; width: 20px;
	top: 5px; left: 6px;
	background: DarkGrey;
	border-radius: 100%;
}

.arm--2 {
	height: 20px; width: 70px;
	top: 135px; left: 120px;
	transform: rotate(45deg);
}

.arm--2:after {
	height: 25px; width: 30px;
	right: -20px; bottom: -5px;
	background: DarkGrey;
	border-radius: 100%;
}

.she .arm--2:after {
	height: 25px; width: 30px;
	background: Turquoise;
}

.he .hand {
	height: 25px; width: 10px;
	top: 167px; left: 188px;
	background: DarkGrey;
	border-radius: 100%;
	z-index: 100;
	transform: rotate(45deg);
}

.menu {
	position: absolute;
	width: 100%;
	display: flex;
	margin: 0;
	top: 0;
	right: 0;
	justify-content: flex-end;
	font-family: 'Sen';
}

.dropdown {
	height: 50px; width: 90px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #FFF;
	background: #34495E;
	position: relative;
	font-size: 18px;
	perspective: 1000px;
	z-index: 1;
}

.dropdown:hover {
	background: #2980B9;
	cursor: pointer;
}

.dropdown:hover .dropdown_menu a {
	display: block;
}

.dropdown_menu {
	position: absolute;
	top: 100%; right: 0;
	width: 100%;
	perspective: 1000px;
	z-index: -1;
}

.dropdown_menu a {
	display: none;
	text-decoration: none;
	color: #FFF;
	background-color: #34495E;
	padding: 10px 20px;
	font-size: 16px;
	opacity: 0;
}

.dropdown_menu a:hover {
	background-color: #2980B9;
}

.dropdown_menu .dropdown_item-1 {
	transform-origin: top center;
	animation: translateX 300ms 60ms ease-in-out forwards;
}

.dropdown_menu .dropdown_item-2 {
	transform-origin: top center;
	animation: translateX 300ms 120ms ease-in-out forwards;
}

.dropdown_menu .dropdown_item-3 {
	transform-origin: top center;
	animation: translateX 300ms 180ms ease-in-out forwards;
}

@-moz-keyframes translateX {
	0%   { opacity: 0; transform: translateX(60px); }
	80%  {             transform: translateX(-5px); }
	100% { opacity: 1; transform: translateX( 0px); }
}

@-webkit-keyframes translateX {
	0%   { opacity: 0; transform: translateX(60px); }
	80%  {             transform: translateX(-5px); }
	100% { opacity: 1; transform: translateX( 0px); }
}

@-o-keyframes translateX {
	0%   { opacity: 0; transform: translateX(60px); }
	80%  {             transform: translateX(-5px); }
	100% { opacity: 1; transform: translateX( 0px); }
}

@keyframes translateX {
	0%   { opacity: 0; transform: translateX(60px); }
	80%  {             transform: translateX(-5px); }
	100% { opacity: 1; transform: translateX( 0px); }
}